
/*header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 0px;
  }
}*/

body {
  padding: 130px 0px 0px 0px;
}

.nav-link {
	margin-right: 40px;
	margin-left: 40px;
	padding: 10px;
	transition: 0.4s;
}

.LoginButton {
	margin-right: 15px;
	transition: 0.4s;
}

.SignOutButton {
	margin-right: 15px;
	transition: 0.4s;
}

.myLogo {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	transition: 0.4s;
	position: static;
}

.mainNav {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 28px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.UpdateForm {
	display: none;
}

.ShowEdit {
	margin-left: 65px;
}