.carousel-item img {
	width: auto;
	height: 500px;
	max-height: 500px;
}

.caption-top {
    top: 25px;
    bottom: auto;
}

.caption-mid {
	top: 175px;
	bottom: auto;
}

.caption-text {
	font-weight: 1000;
	font-family: Gill Sans Extrabold, sans-serif;
	font-style: oblique 10deg;
	color: white;
}
