
/*header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 0px;
  }
}*/

body {
  padding: 130px 0px 0px 0px;
}

.carousel-item img {
	width: auto;
	height: 500px;
	max-height: 500px;
}

.caption-top {
    top: 25px;
    bottom: auto;
}

.caption-mid {
	top: 175px;
	bottom: auto;
}

.caption-text {
	font-weight: 100;
	font-family: Gill Sans Extrabold, sans-serif;
	font-style: oblique 10deg;
	opacity: 0.8;
}

.carousel-caption h1 {
	border-radius: 60px;
	/*opacity: 0.4;*/
}

.nav-link {
	margin-right: 40px;
	margin-left: 40px;
	padding: 10px;
	transition: 0.4s;
}

.LoginButton {
	margin-right: 15px;
	transition: 0.4s;
}

.SignOutButton {
	margin-right: 15px;
	transition: 0.4s;
}

.myLogo {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	transition: 0.4s;
	position: static;
}

.mainNav {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 28px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}