{% extends "navigationBar.html" %}
{% block content %}
<div class="jumbotron">
	<h1 class='text-center'>FEATURES</h1>
	<article>
		<p class="text-center">Calorie reduced diets require a lot of information to perform optimally.In order to restrict caloric intake, but
			remain healthy,<br/>users of the diet must track their vitamin, mineral, and protein intakes with great care.</p>
		<p class="text-center">We aim to provide a complete solution for the smart dieter.</p>
	</article>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <img alt="AltText" src="https://placehold.it/300" class="img-responsive">
	        <p class="text-center">Easy to use,<br/>streamlined data entry</p>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <img  alt="AltText" src="https://placehold.it/300" class="img-responsive">
	        <p class="text-center">Track 60+ Nutrients<br/>for 200,000+ foods</p>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <img src="https://placehold.it/300" alt="AltText" class="img-responsive">
	        <p class="text-center">Log your Diet, Exercise,<br/>Biometrics, and Notes</p>
	        </div>
	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <img alt="AltText" src="https://placehold.it/300" class="img-responsive">
	        <p class="text-center">Make custom foods<br/>and recipes</p>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <img  alt="AltText" src="https://placehold.it/300" class="img-responsive">
	        <p class="text-center">Mobile Apps for<br/>logging on-the-go</p>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	        <a href="LinkToImage">
	            <img src="https://placehold.it/300" alt="AltText" class="img-responsive">
	        </a>
	        <p class="text-center">Built in help anywhere<br/>you see a <i class="em em-grey_question"></i></p>
	        </div>
	    </div>
	</div>
</div>
{% endblock content %}