{% extends "navigationBar.html" %}
{% block content %}
<div class="jumbotron">
	<h1 class='text-center'>FEATURES</h1>
	<article class="mb-5">
		<p class="text-center">Calorie reduced diets require a lot of information to perform optimally.In order to restrict caloric intake, but
			remain healthy,<br/>users of the diet must track their vitamin, mineral, and protein intakes with great care.</p>
		<p class="text-center">We aim to provide a complete solution for the smart dieter.</p>
	</article>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4 col-sm-6 col-xs-12">
	        	<div class="text-center">
	            	<img alt="AltText" src="{{ url_for('static', filename='images/easy-to-use.png')}}" class="featuresImg img-responsive">
	        		<p>Easy to use,<br/>streamlined data entry</p>
	        	</div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text-center">
					<img alt="AltText" src="{{ url_for('static', filename='images/nutrition.png')}}" class="featuresImg img-responsive">
	        <p>Track 60+ Nutrients<br/>for 200,000+ foods</p>
				</div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
				<div class="text-center">
					<img alt="AltText" src="{{ url_for('static', filename='images/track.png')}}" class="featuresImg img-responsive">
	        <p>Log your Diet, Exercise,<br/>Biometrics, and Notes</p>
	        </div>
	        	</div>
	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="text-center">
					<img alt="AltText" src="{{ url_for('static', filename='images/easy-to-use.png')}}" class="featuresImg img-responsive">
	        <p>Make custom foods<br/>and recipes</p>
	        	</div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="text-center">
					<img alt="AltText" src="{{ url_for('static', filename='images/easy-to-use.png')}}" class="featuresImg img-responsive">
	        <p>Mobile Apps for<br/>logging on-the-go</p>
	    		</div>
	        </div>

	        <div class="col-md-4 col-sm-6 col-xs-12">
	            <div class="text-center">
					<img alt="AltText" src="{{ url_for('static', filename='images/easy-to-use.png')}}" class="featuresImg img-responsive">
	        <p>Built in help anywhere<br/>you see a <i class="em em-grey_question"></i></p>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock content %}