<!DOCTYPE html>
<html>
{% block head %}
<head>
	<meta charset="utf-8">
	{% if title %}
		<title>Diet Balancer -  {{ title }}</title>
	{% else %}
		<title>Diet Balancer</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/balancer.png') }}">
</head>
{% endblock head %}
<header>
    <nav class="mainNav navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
    <a class="navbar-brand" href="/"><img class="myLogo" src="{{ url_for('static', filename='images/balancer.png') }}"></a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.features') }}">Features</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
	     	<a class="nav-link" href="{{ url_for('main.pricing') }}">Pricing</a>
	    </li>
        {% else %}
        <li class="nav-item">
	     	<a class="nav-link pricingLink" href="{{ url_for('main.pricing') }}">Pricing</a>
	     	<div class="invalid-feedback popup overlay">
				<span>You have to Sign In First</span>
			</div>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('posts.blog') }}">Blog</a>
        </li>
      </ul>
      <!-- Button trigger modal -->
      	{% if current_user.is_authenticated %}
      		<a class="nav-item nav-link" href="{{ url_for('users.account') }}">{{ current_user.username }}</a>
			<a class="SignInOutButton btn btn-md btn-outline-light" href="{{ url_for('main.logout') }}">Sign out</a>
		{% elif request.path == url_for('users.register') %}
      	{% else %}
			<button type="button" class="SignInOutButton btn btn-md btn-outline-light" data-toggle="modal" data-target="#LoginModal" data-backdrop="static">
			  Sing in
			</button>
		{% endif %}
</nav>

</header>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div style="padding-top: 10px;">
            <div class="alert alert-{{ category }}" role="alert">
            	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
              <span class="align-middle">{{ message }}</span>
            </div>
           </div>
          {% endfor %}
        {% endif %}
  {% endwith %}
  {% if current_user.is_authenticated or request.path == url_for('users.register') %}
  {% else %}
  <!-- Login Modal -->
		<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		        <form method="POST" action="">
				{{ form1.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Sign In</legend>
				<div class="form-group">
					{{ form1.email.label(class="form-control-label") }}
					{% if form1.email.errors %}
						{{ form1.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form1.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form1.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form1.password.label(class="form-control-label") }}
					{% if form1.password.errors %}
						{{ form1.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form1.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form1.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-check">
					{{ form1.remember(class="form-check-input", type="checkbox", id="RememberMe") }}
					{{ form1.remember.label(class="form-check-label", for="RememberMe")}}
				</div>
			</fieldset>
			<div class="form-group">
				<button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
				{{ form1.submit(class="btn btn-outline-info float-right submitAction")}}
			</div>
		</form>
		      </div>
		      <div class="modal-footer">
		      	<div class="container">
		      		<div class="row justify-content-between">
				        <div class="col-sm" align="left"><small>Not a member? <a class="alert-link" href="/register">Sign Up Now</a></small></div>
				        <div class="col-sm" align="right"><small class="text-muted"><a href="{{ url_for('users.reset_request') }}">Forgot password?</a></small></div>
			    	</div>
		    	</div>
		      </div>
		    </div>
		  </div>
		</div>
		{% endif %}
    </div>
  {% block content %}{% endblock %}
    <!-- Custom JavaScript for this theme -->
	<script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

</body>

</html>